<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @connection.customer_id %>
</p>

<p>
  <strong>Connection:</strong>
  <%= @connection.connection_id %>
</p>

<p>
  <strong>Provider code:</strong>
  <%= @connection.provider_code %>
</p>

<p>
  <strong>Provider name:</strong>
  <%= @connection.provider_name %>
</p>

<%= link_to 'Edit', edit_connection_path(@connection) %> |
<%= link_to 'Back', connections_path %>
