<%= form_with(model: transaction) do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
        <% transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :transaction_id %>
    <%= form.text_field :transaction_id %>
  </div>

  <div class="field">
    <%= form.label :mode %>
    <%= form.text_field :mode %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="field">
    <%= form.label :made_on %>
    <%= form.text_field :made_on %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

  <div class="field">
    <%= form.label :currency_code %>
    <%= form.text_field :currency_code %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :origiinal_amount %>
    <%= form.text_field :origiinal_amount %>
  </div>

  <div class="field">
    <%= form.label :original_currency_code %>
    <%= form.text_field :original_currency_code %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
