<p id="notice"><%= notice %></p>

<p>
  <strong>Transaction:</strong>
  <%= @transaction.transaction_id %>
</p>

<p>
  <strong>Mode:</strong>
  <%= @transaction.mode %>
</p>

<p>
  <strong>Status:</strong>
  <%= @transaction.status %>
</p>

<p>
  <strong>Made on:</strong>
  <%= @transaction.made_on %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @transaction.amount %>
</p>

<p>
  <strong>Currency code:</strong>
  <%= @transaction.currency_code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @transaction.description %>
</p>

<p>
  <strong>Original amount:</strong>
  <%= @transaction.origiinal_amount %>
</p>

<p>
  <strong>Original currency code:</strong>
  <%= @transaction.original_currency_code %>
</p>

<%= link_to 'Back', transactions_path(:account_id => @transaction.account_id) %>
